@page "/habitats/details/{Id}"

@if (habitat == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1 class="page-title">@habitat.Name Habitat</h1>
    <h3>ID # @habitat.Id</h3>
    <p>
        <br />
        <div>
            <label>Food Source: </label>
            @habitat.FoodSource
        </div>
        <br />
        <div>
            <label>Cleanliness: </label>
            @if (habitat.IsClean)
            {
                <span>Clean</span>
            }
            else
            {
                <span>Dirty</span>
            }
        </div>
    </p>

    <footer>
        <a href="/habitats" class="btn btn-primary">Back</a>
        <a href="/habitats/edit/@Id" class="btn btn-primary">Edit</a>
    </footer>
}