@*
    Name: Index.razor
    Author: Charles Clayton
    Description: Home page that appears during startup
*@
@page "/"

<PageTitle>Monitoring System v1.0</PageTitle>

<h1>Home Screen</h1>

<p>Author: Charles Clayton</p>

Welcome to the Zookeeper Monitoring System. Please select an area to monitor from the navigation menu.
